<ul class="list-group list-group-flush">
  <li class="list-group-item" [id]="comment._id" *ngFor="let comment of comments">
    <blockquote class="blockquote mb-0">
      <p>{{comment.text}}</p>
      <footer class="blockquote-footer">
        <a href="javascript:void(0)" [routerLink]="['/users', comment.owner._id]">@{{comment.owner.nickname}}</a>
        <app-edit-modal *ngIf="user._id === comment.owner._id" [text]="comment.text" btnClass="btn-outline-success btn-sm" (done)="editComment(comment, $event)"></app-edit-modal>
      </footer>
    </blockquote>
  </li>
</ul>